$breakpoints: (
  tiny: 420px,
  small: 800px,
  large: 1200px
);

$typi: (
  null: 16px,
  small: 18px,
  large: 20px
);

$brand-colour: #2090F7;

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.oblique {
  font-style: oblique;
}