@import "../vars";
@import "../mixins/svg-image";

.banner {
  padding-top: 82px;
  height: 318px;
  width: 100%;
  background-color: $brand-colour;
  color: white;
  display: flex;
  align-items: center;

  @media screen and (max-width: map-get($breakpoints, small)) {
    height: 200px;
    padding-top: 50px;
  }

  .caption {
    margin-left: 44px;
    font-size: 1.8 * 1rem;
    max-width: calc(100% - (44px + 260px));
    display: inline-block;

    @media screen and (max-width: map-get($breakpoints, small)) {
      max-width: 100%;
      margin-right: 44px;
    }
  }

  .logo-large {
    width: 260px;
    height: 260px;
    margin-left: auto;
    @include svg-background-image("StructLogo_BW_Light_Medium")

    @media screen and (max-width: map-get($breakpoints, small)) {
      display: none;
    }
  }
}