@import "../vars";
@import "../mixins/svg-image";
@import "../mixins/unselectable";
@import "../mixins/default-cursor";

.banner {
  min-height: 318px;
  width: 100%;
  background-color: $brand-colour;
  color: white;
  display: flex;
  align-items: center;

  @media screen and (max-width: map-get($breakpoints, small)) {
    min-height: 180px;
    justify-content: center;
  }

  .caption {
    margin-left: 44px;
    margin-bottom: 44px;
    font-size: 1.8 * 1rem;
    display: inline-block;
    @include unselectable();
    @include default-cursor();

    @media screen and (max-width: map-get($breakpoints, small)) {
      margin-left: 16px;
      margin-right: 16px;
      text-align: center;
    }
  }

  .logo-large {
    width: 260px;
    min-width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: 20px;
    @include svg-background-image("StructLogo_BW_Light_Medium")

    @media screen and (max-width: map-get($breakpoints, small)) {
      display: none;
    }
  }
}